{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
    .botao-voltar {
        background-color: #6c757d;
        color: white;
        transition: background-color 0.3s ease;
    }
    .botao-voltar:hover {
        background-color: #5a6268;
    }
</style>
<main class="principal">
    <section class="conta">
        <a href="{% url 'gerenciar_produtos' %}" class="checkout__botao botao-voltar" style="width: auto; padding: 1rem 2rem; margin: 0 3.12rem 2rem;">Voltar</a>
        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Adicionar Nova Categoria</p>
            </div>
            <form class="conta__form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="conta__item">
                    <label for="nome">Nome da Categoria</label>
                    <input name="nome" type="text" required>
                </div>
                <div class="conta__item">
                    <label for="slug">Slug</label>
                    <input name="slug" type="text" required>
                </div>
                 <div class="conta__item conta__item--email">
                    <label for="imagem">Imagem da Categoria</label>
                    <input name="imagem" type="file">
                </div>
                <button class="subtotal__botao" type="submit">Adicionar Categoria</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}