{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="principal">
    <section class="conta">
        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Editar Tipo: {{ tipo.nome }}</p>
            </div>
            <form class="conta__form" method="post">
                {% csrf_token %}
                <div class="conta__item">
                    <label for="nome">Nome do Tipo</label>
                    <input name="nome" type="text" value="{{ tipo.nome }}" required>
                </div>
                <div class="conta__item">
                    <label for="slug">Slug</label>
                    <input name="slug" type="text" value="{{ tipo.slug }}" required>
                </div>
                <button class="subtotal__botao" type="submit">Salvar Alterações</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}